* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: montserrat-extra; /*nome da fonte*/
    src: url(montserrat-extrabold.ttf); /*fonte externa baixada*/

}
@font-face {
    font-family: montserrat-semi;
    src: url(montserrat-semi-bold.ttf);
}
@font-face {
    font-family: drius;
    src: url(Sansation_Regular.ttf);
}
@font-face {
    font-family: drius;
    src: url(driussemistraight.ttf);
}



.container_botao_pergunta1,.container_botao_pergunta2,.container_botao_pergunta3,
.container_botao_pergunta4,.container_botao_pergunta5,.container_botao_pergunta6,
.container_botao_pergunta7,.container_botao_pergunta8,.container_botao_pergunta9,
.container_botao_pergunta10,.container_botao_pergunta11,.container_botao_pergunta12,
.container_botao_pergunta13,.container_botao_pergunta14,.container_botao_pergunta15,
.container_botao_pergunta16,.container_botao_pergunta17,.container_botao_pergunta18,
.container_botao_pergunta19,.container_botao_pergunta20,.container_botao_pergunta21,
.container_botao_pergunta22,.container_botao_pergunta23,.container_botao_pergunta24,
.container_botao_pergunta25,.container_botao_pergunta26,.container_botao_pergunta27,
.container_botao_pergunta28,.container_botao_pergunta29,.container_botao_pergunta30,
.container_botao_pergunta31,.container_botao_pergunta32{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;


}

#botao_p1c, #botao_p2c,#botao_p1e,#botao_p2e,#botao_p3c, #botao_p3e,#botao_p3e1,#botao_p4c, #botao_p4e,#botao_p4e1{
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p5c,#botao_p5e,#botao_p5e1,#botao_p6c,#botao_p6e,
#botao_p6e1,#botao_p7e,#botao_p7c,#botao_p7e1,#botao_p8e,#botao_p8c,#botao_p8e1{
    background-color: #1C63DD;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p9e,#botao_p9e1,#botao_p9c,#botao_p10e,#botao_p10e1,#botao_p10c,#botao_p11e,#botao_p11e1,#botao_p11c,#botao_p12c,
#botao_p12e,#botao_p12e1{
    background-color: #c3602a;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;

}
#botao_p13e,#botao_p13e1,#botao_p13c,#botao_p14e,#botao_p14e1,#botao_p14c,#botao_p15e,#botao_p15e1,#botao_p15c,#botao_p16c,
#botao_p16e,#botao_p16e1{
    background-color: #11C828;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p17e,#botao_p17e1,#botao_p17c,#botao_p18e,#botao_p18e1,#botao_p18c,#botao_p19e,#botao_p19e1,#botao_p19c,#botao_p20c,
#botao_p20e,#botao_p20e1{
    background-color: #EDA575;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p21e,#botao_p21e1,#botao_p21c,#botao_p22e,#botao_p22e1,#botao_p22c,#botao_p23e,#botao_p23e1,#botao_p23c,#botao_p24c,
#botao_p24e,#botao_p24e1{
    background-color: #665E55;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p25e,#botao_p25e1,#botao_p25c,#botao_p26e,#botao_p26e1,#botao_p26c,#botao_p27e,#botao_p27e1,#botao_p27c,#botao_p28c,
#botao_p28e,#botao_p28e1{
    background-color: #4C3520;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}
#botao_p29e,#botao_p29e1,#botao_p29c,#botao_p30e,#botao_p30e1,#botao_p30c,#botao_p31e,#botao_p31e1,
#botao_p31c,#botao_p32c,#botao_p32e,#botao_p32e1{
    background-color: #58ADEE;
    color: white;
    border: 0;
    border-radius: 15px;
    font-family: drius;
}

#botao_p1c{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 320px;
    font-size: 250%;
}

#botao_p1e{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 250%;
}

#botao_p2c{
    grid-column: 13/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 250%;
}

#botao_p2e{
    grid-column: 13/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 250%;

}
#botao_p3e{
    grid-column: 16/20;
    grid-row: 4;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p3c{
    grid-column: 16/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 180%;
}

#botao_p3e1{
    grid-column: 16/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p4c{
    grid-column: 15/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p4e{
    grid-column: 15/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 180%;
}

#botao_p4e1{
    grid-column: 15/20;
    grid-row: 7;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p5c{
    grid-column: 15/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p5e{
    grid-column: 15/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p5e1{
    grid-column: 15/20;
    grid-row: 7;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p6e{
    grid-column: 15/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p6c{
    grid-column: 15/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p6e1{
    grid-column: 15/20;
    grid-row: 7;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p7e{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p7c{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p7e1{
    grid-column: 14/20;
    grid-row: 6;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p8e{
    grid-column: 4/20;
    grid-row: 4;
    height: 100px;
    width: 320px;
    font-size: 180%;
}
#botao_p8c{
    grid-column: 9/20;
    grid-row: 4;
    height: 100px;
    margin-left: 5px;
    width: 320px;
    font-size: 180%;
}
#botao_p8e1{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 320px;
    margin-left: 10px;

    font-size: 180%;
}
#botao_p9e{
    grid-column: 5/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p9e1{
    grid-column: 5/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p9c{
    grid-column: 5/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p10e{
    grid-column: 5/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p10e1{
    grid-column: 5/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p10c{
    grid-column: 5/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p11e{
    grid-column: 5/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p11c{
    grid-column: 5/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p11e1{
    grid-column: 5/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p12e{
    grid-column: 6/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p12e1{
    grid-column: 11/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p12c{
    grid-column: 16/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p13e{
    grid-column: 11/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p13e1{
    grid-column: 11/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p13c{
    grid-column: 11/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p14c{
    grid-column: 11/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p14e{
    grid-column: 11/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p14e1{
    grid-column: 11/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p15e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p15e1{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p15c{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p16e{
    grid-column: 7/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p16e1{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p16c{
    grid-column: 17/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p17e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p17c{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p17e1{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p18e{
    grid-column: 13/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p18e1{
    grid-column: 13/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p18c{
    grid-column: 13/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p19e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p19e1{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p19c{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p20e{
    grid-column: 11/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p20c{
    grid-column: 11/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p20e1{
    grid-column: 11/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p21c{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p21e{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p21e1{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p22e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p22e1{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p22c{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p23e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p23c{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p23e1{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p24c{
    grid-column: 7/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p24e{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p24e1{
    grid-column: 17/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p25e{
    grid-column: 16/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p25c{
    grid-column: 16/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p25e1{
    grid-column: 16/20;
    grid-row: 7;
    height: 100px;
    width: 300px;
    font-size: 180%;
}

#botao_p26e{
    grid-column: 12/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p26e1{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p26c{
    grid-column: 12/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p27e{
    grid-column: 15/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p27c{
    grid-column: 15/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p27e1{
    grid-column: 15/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p28c{
    grid-column: 7/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p28e{
    grid-column: 12/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p28e1{
    grid-column: 17/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p29e{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p29c{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p29e1{
    grid-column: 14/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p30c{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p30e{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p30e1{
    grid-column: 14/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p31e{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p31e1{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p31c{
    grid-column: 14/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p32c{
    grid-column: 14/20;
    grid-row: 4;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p32e{
    grid-column: 14/20;
    grid-row: 5;
    height: 100px;
    width: 300px;
    font-size: 180%;
}
#botao_p32e1{
    grid-column: 14/20;
    grid-row: 6;
    height: 100px;
    width: 300px;
    font-size: 180%;
}




#botao_p1c:hover,#botao_p1e:hover,#botao_p2c:hover,
#botao_p2e:hover,#botao_p3e:hover,#botao_p3c:hover,
#botao_p3e1:hover,#botao_p4c:hover,#botao_p4e:hover,
#botao_p4e1:hover,#botao_p5c:hover,#botao_p5e:hover,
#botao_p5e1:hover{
    background-color: rgb(255, 123, 0);
}

#botao_p5c:hover,#botao_p5e:hover,#botao_p5e1:hover,#botao_p6e:hover,
#botao_p6e1:hover,#botao_p6c:hover,#botao_p7e:hover,#botao_p7c:hover,#botao_p7e1:hover,
#botao_p8e:hover,#botao_p8c:hover,#botao_p8e1:hover{
    background-color: #074abd;
}

#botao_p9e:hover,#botao_p9e1:hover,#botao_p9c:hover,
#botao_p10e:hover,#botao_p10e1:hover,#botao_p10c:hover,
#botao_p11e:hover,#botao_p11e1:hover,#botao_p11c:hover,
#botao_p12c:hover,#botao_p12e:hover,#botao_p12e1:hover{
    background-color: #954D27;
}
#botao_p13e:hover,#botao_p13e1:hover,#botao_p13c:hover,#botao_p14e:hover,
#botao_p14e1:hover,#botao_p14c:hover,#botao_p15e:hover,#botao_p15e1:hover,
#botao_p15c:hover,#botao_p16c:hover,#botao_p16e:hover,#botao_p16e1:hover{
    background-color: #09ac1f;

}
#botao_p17e:hover,#botao_p17e1:hover,#botao_p17c:hover,#botao_p18e:hover,
#botao_p18e1:hover,#botao_p18c:hover,#botao_p19e:hover,#botao_p19e1:hover,
#botao_p19c:hover,#botao_p20c:hover,#botao_p20e:hover,#botao_p20e1:hover{
    background-color:#c98558;
}

#botao_p21e:hover,#botao_p21e1:hover,#botao_p21c:hover,#botao_p22e:hover,
#botao_p22e1:hover,#botao_p22c:hover,#botao_p23e:hover,#botao_p23e1:hover,
#botao_p23c:hover,#botao_p24c:hover,#botao_p24e:hover,#botao_p24e1:hover{
    background-color:#4e4841;
}
#botao_p25e:hover,#botao_p25e1:hover,#botao_p25c:hover,#botao_p26e:hover,
#botao_p26e1:hover,#botao_p26c:hover,#botao_p27e:hover,#botao_p27e1:hover,
#botao_p27c:hover,#botao_p28c:hover,#botao_p28e:hover,#botao_p28e1:hover{
    background-color: #6e4d2d;
}
#botao_p29e:hover,#botao_p29e1:hover,#botao_p29c:hover,#botao_p30e:hover,#botao_p30e1:hover,#botao_p30c:hover,
#botao_p31e:hover,#botao_p31e1:hover,#botao_p31c:hover,#botao_p32c:hover,#botao_p32e:hover,#botao_p32e1:hover{
    background-color: rgb(42, 142, 218);
}








.containertela1, #containertela2, #containertela3,
#containertela4, #containerpergunta1, #containerpergunta2,#containerpergunta3,#containerpergunta4,
#containertransicao1,#containerpergunta5, #containerpergunta6, #containerpergunta7,#containerpergunta8,
#containertransicao2,#containerpergunta9,#containerpergunta10,#containerpergunta11,#containerpergunta12,
#containerpergunta13,#containerpergunta14,#containerpergunta15,#containerpergunta16,#containerpergunta17,
#containerpergunta18,#containerpergunta19,#containerpergunta20,#containerpergunta21,#containerpergunta22,
#containerpergunta23,#containerpergunta24,#containerpergunta25,#containerpergunta26,#containerpergunta27,
#containerpergunta28,#containerpergunta29,#containerpergunta30,#containerpergunta31,#containerpergunta32,
#containertransicao3,#containertransicao4,#containertransicao5,#containertransicao6,#containertransicao7,
#containertransicao8,#containertransicao9

{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-tela1, #background-tela2,
#background-tela3,#background-tela4,
#background-pergunta1,#background-pergunta2,#background-pergunta3,
#background-pergunta4,#background-transicao1,#background-pergunta5, #background-pergunta6, #background-pergunta7,
#background-pergunta8, #background-transicao2,#background-pergunta9,#background-pergunta10,#background-pergunta11,
#background-pergunta12,#background-pergunta13,#background-pergunta14,#background-pergunta15,#background-pergunta16,
#background-pergunta17,#background-pergunta18,#background-pergunta19,#background-pergunta20,#background-pergunta21,
#background-pergunta21,#background-pergunta22,#background-pergunta23,#background-pergunta24,#background-pergunta25,
#background-pergunta26,#background-pergunta27,#background-pergunta28,#background-pergunta29,#background-pergunta30,
#background-pergunta31,#background-pergunta32,
#background-transicao3,#background-transicao4,#background-transicao5,#background-transicao6,#background-transicao7,
#background-transicao8,#background-transicao9{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container_botao_tela1, .container_botao_tela3, .container_botao_tela4,.container_botao_final{
    height: 100vh;
    width: 100%;
    display: grid;

}

.container_botao_tela1{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.container_botao_final{
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#botao_final{
    grid-column: 6/8;
    grid-row: 10/10;
    font-family: drius;
}
#botao_final:hover{
    background-color: rgb(111, 111, 111);
    color: white;
}

#botao_tela1{
    grid-column: 6/8;
    grid-row: 7/10;
    font-family: drius;
}

#botao_tela1:hover,#botao_tela3:hover,#botao_tela4:hover{
    background-color: rgb(111, 111, 111);
    color: white;
}

.container_botao_tela3{
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

#botao_tela3{
    grid-column: 7/10;
    grid-row: 8/11;
    font-family: drius;


}

.container_botao_tela4{
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#botao_tela4{
    grid-column: 8/11;
    grid-row: 9/12;
    font-family: drius;

}


#botao_tela1,#botao_tela3, #botao_tela4{
    background-color: white;
    border: 0;
    height: 85px;
    width: 230px;
    font-size: 220%;
    border-radius: 40px;
}
#botao_final{
    background-color: white;
    border: 0;
    height: 55px;
    width: 230px;
    font-size: 190%;
    border-radius: 40px;
}





.resposta1,.resposta2, .resposta3,.resposta4,.resposta5,.resposta6,.resposta7,.resposta8,.resposta9,.resposta10,
.resposta11,.resposta12,.resposta13,.resposta14,.resposta15,.resposta16,.resposta17,.resposta18,.resposta19,.resposta20,
.resposta21,.resposta22,.resposta23,.resposta24,.resposta25,.resposta26,.resposta27,.resposta28,.resposta29,.resposta30,
.resposta31,.resposta32{
    transition: 2s;
    color: white;
    position: fixed;
    bottom: 0;
    font-size: 200%;
    width: 100vw;
    height: 45px;
    padding-top: 10px;
    text-align: center;
    font-family:  montserrat-semi;
}



